* {
	margin:0;
	padding:0;
}

*{
	box-sizing: border-box;
}

html,body{
	text-align: center;
	background-image: url(../images/fondo.jpg);
  font-family: montserrat;
}

/* div{
 border: solid 1px;
} */

.Espacio{
  padding-top: 10%;
}

.ContenedorTodo{
	width: auto;
	margin: 0 auto;
}

.ContenedorLista{
  background-color: white;
  width: 40%;
	margin: 0 auto;
  border-radius: 7px;
}

.ContenedorFecha{
  text-align: left;
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  color: #D99B9E;
	font-size: 3vh;
}

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}


input::placeholder{
  color: gray;
  font-size: 3vh;
}

.Tareas{
  border: solid 1px;
  border-color: #DDDDDD;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-radius: 4px;
  width: 75%;
  font-size: 3vh;
}

.AgregarTareaN{
	border: solid 1px;
  border-color:  #DDDDDD;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-radius: 4px;
  width: 75%;
  font-size: 3vh;
}

.error{
	border: solid 4px;
  border-color: red;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-radius: 4px;
  width: 75%;
  font-size: 3vh;
}

.boton{
  color: white;
  border: none;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 4px;
  font-size: 3vh;
}

.boton:hover{
	background-color: red;
}

.tareas .lista {
	list-style: none;
	padding-bottom: 20%;
}

.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
	background-color: #DDDDDD;
	border-radius: 10px;
}


.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 15px 0;
	text-decoration: none;
}

.tareas .lista li a:hover {
	text-decoration: line-through;
}

.ContenedorMensajeVacio img{
  width: 10%;
}

.ContenedorMensajeVacio{
  padding-bottom: 30%;
}

.Borrar{
	display: none;
}

.EliminarTodo{
	padding: 2%;
	border: none;
	background-color: #ffff;
	border-radius: 5px;
	font-size: 3vh;
	display: none;
	width: 30%;
    margin: 0 auto;
}

.EliminarTodo:hover{
	background-color: red;
}
